<h1>Showing a todo.</h1>

<p>
  name: <%= @todo.name %>
</p>
<p>
  description: <%= @todo.description %>
</p>

<%= link_to "Edit this Todo", edit_todo_path(@todo) %> |
<%= link_to "Back to Todos listing", todos_path %>